.joinedUserListContainer {
  overflow-y: scroll;
  background-color: white;
  border-radius: 6px;
  border: 1px solid lightgray;
  width: 280px;
  height: 480px;
  position: fixed;
  z-index: 24;
  top: 6rem;
  right: 7.9rem;
  /* right: calc((100vw - 1060px) / 2 + 10px); */
}

.joinedUserListContainer::-webkit-scrollbar {
  width: 6px;
}

.joinedUserListContainer::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

.joinedUserListContainer::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* participant */
.participant_container {
  font-weight: bold;
  background-color: #f5f5f5;
  text-align: start;
  padding: 0.4rem;
  font-size: 1rem;
}
