.active {
  border-radius: 10px;
  width: fit-content;
  user-select: none;
  border-radius: 8px !important;
  background-color: #66b984;
  color: white;
}

.card {
  border-radius: 10px;
  background-color: #f2f3f5;
  width: fit-content;
  user-select: none;
  color: #11141c;
  border: 0px;
}
.logoTop {
  height: 130px;
  width: auto;
}
