.start_hour_cont {
  position: relative;
  background-color: #f5f7f8;
  // padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  width: 68px;
  border-radius: 8px;
}
select {
  border: none !important;
  outline: none !important;
}
.abso_m_h {
  z-index: 99;
  font-size: 1.2rem;
  // border: 1px solid blue;
  position: absolute;
  top: 25px;
  right: 11px;
  // top: 0;
  // right: 0;
  font-weight: bolder;
}
.abso_h_only {
  z-index: 99;
  font-size: 1.2rem;
  position: absolute;
  right: 16px;
  top: 26px;
}
